@charset "UTF-8";

body {
  padding-top: 40px;
  text-align: center;
}
img {
  width: 50%;
}

#about {
  display: flex;
  justify-content: center;
}
#about .text {
  font-family: "Meiryo";
  height: 80px;
  position: relative;
  padding: 20px;
  font-size: 24px;
  background: #e0edff;
  border-radius: 15px;
}
#about .text p {
  margin: 0;
  padding: 0;
}
#about .text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

#answerImg {
  width: 15%;
}

#answerText {
  font-size: 36px;
  letter-spacing: .1em;
}

#target {
  font-size: 36px;
  letter-spacing: .1em;
}

#result {
  font-size: 22px;
  color: blue;
}